{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Gestión de Espacios Culturales </title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="" rel="icon">
  <link href="{%static 'assets/img/apple-touch-icon.png ' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{%static 'assets/css/main.css' %}" rel="stylesheet">


</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="/" class="logo d-flex align-items-center me-auto">
    
        <h1 class="sitename">Espacio Culturales</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/" class="active">Inicio</a></li>
        </ul>
        
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;
      <a class="btn-getstarted" href="{% url 'login' %}">Inicio Sesion</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-item active">
          <img src="{%static 'assets/img/hero-carousel/1.jpg' %}" alt="">
          <div class="carousel-container">
            <h2>Espacios para la Cultura<br></h2>
            <p>Los espacios culturales son lugares dedicados a la promoción del arte, la creatividad y el encuentro de diversas manifestaciones culturales.</p>
            <a href="#featured-services" class="btn-get-started">Mirar aqui</a>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="{%static 'assets/img/hero-carousel/2.jpg' %}" alt="">
          <div class="carousel-container">
            <h2>Espacios para la Cultura</h2>
            <p>Más allá de ser simples escenarios, los espacios culturales son motores de desarrollo social, donde convergen tradición e innovación.</p>
            <a href="#featured-services" class="btn-get-started">Mirar aqui</a>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="{%static 'assets/img/hero-carousel/3.jpg' %}" alt="">
          <div class="carousel-container">
            <h2>Espacios para la Cultura</h2>
            <p>A través de exposiciones, presentaciones artísticas, talleres y eventos comunitarios, estos espacios fomentan el diálogo intercultural, fortalecen la identidad y brindan oportunidades para la expresión artística.</p>
            <a href="#featured-services" class="btn-get-started">Mirar aqui</a>
          </div>
        </div><!-- End Carousel Item -->

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators"></ol>

      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Sabes</h2>
        <p>Sabes que<br></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <p>
              Los espacios culturales son mucho más que simples lugares físicos; representan el corazón de la expresión artística y la identidad de una comunidad. En ellos, el arte, la música, la danza, el teatro, la literatura y muchas otras formas de expresión encuentran un hogar donde pueden florecer y ser compartidas.
            </p>
            <ul>
              <li><i class="bi bi-check2-circle"></i> <span>Preservación de la identidad y el patrimonio.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>Fomento de la creatividad y la innovación.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>Generación de comunidad y cohesión social</span></li>
            </ul>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <p>Los espacios culturales son esenciales para el desarrollo de sociedades más creativas, inclusivas y conscientes de su diversidad. Apoyarlos y participar en sus actividades no solo enriquece nuestro bagaje cultural, sino que también fortalece el tejido social y promueve un mundo donde el arte y la cultura sean accesibles para todos. </p>
            <a href="" class="read-more"><span>Leer mas</span><i class="bi bi-arrow-right"></i></a>
          </div>

        </div>

      </div>

    <!-- Services Section -->
    <section id="services" class="services section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-briefcase icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Museos y galerías de arte</a></h4>
                <p class="description">Espacios dedicados a la exhibición y conservación de obras históricas y contemporáneas.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-card-checklist icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Centros culturales</a></h4>
                <p class="description"> Lugares multifuncionales donde se desarrollan diversas actividades artísticas y educativas.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-bar-chart icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Teatros y auditorios</a></h4>
                <p class="description">Destinados a la presentación de espectáculos en vivo, como obras de teatro, conciertos y danzas.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-binoculars icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Bibliotecas y casas de la literatura</a></h4>
                <p class="description">Fomentan el amor por la lectura y el conocimiento a través de libros, talleres y eventos literarios.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-brightness-high icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Espacios comunitarios y autogestionados</a></h4>
                <p class="description">niciativas ciudadanas que promueven la cultura desde una perspectiva participativa y colectiva.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-calendar4-week icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Espacios Públicos</a></h4>
                <p class="description">Los espacios públicos son escenarios fundamentales en la vida de una ciudad. Se trata de áreas accesibles para todos, diseñadas para fomentar la convivencia, la recreación y la interacción social.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

  </main>

  <footer id="footer" class="footer dark-background">


    <div class="container copyright text-center mt-4">
      <div class="credits">

        Desaroollado por <a href="">Erick Quishpe</a> Por la  <a href="https://www.utc.edu.ec/">Univerdad Técnica de Cotopaxi
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{%static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{%static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{%static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{%static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{%static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{%static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{%static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{%static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{%static 'assets/js/main.js' %}"></script>

</body>

</html>