{% extends "./plantilla.html" %}

{% block contenido %}
{% load static %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registro</title>
</head>

<body>
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                    <img src="{% static 'static1/assets/images/logos/ecuador.jpg' %}" width="180" alt="Logo de Robot">
                </a>
                <p class="text-center">Crear una nueva cuenta</p>
                <form method="post">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="id_username" class="form-label">Username</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                      <ul>
                        {% for error in form.username.errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </div>

                  <div class="mb-4">
                    <label for="id_password1" class="form-label">Password</label>
                    {{ form.password1 }}
                    {% if form.password1.errors %}
                      <ul>
                        {% for error in form.password1.errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </div>

                  <div class="mb-4">
                    <label for="id_password2" class="form-label">Confirm Password</label>
                    {{ form.password2 }}
                    {% if form.password2.errors %}
                      <ul>
                        {% for error in form.password2.errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </div>

                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Registrar</button>

                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">¿Tienes cuenta?</p>
                    <a class="text-primary fw-bold ms-2" href="{% url 'login' %}">Entra aquí</a>
                  </div>
                </form>

                {% if messages %}
                  <ul>
                    {% for message in messages %}
                      <li>{{ message }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>

{% endblock %}
